@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@include mobile {
  h2 {
    font-size: 3rem;
  }

  .toggle {
    display: none;
  }

  #about {
    padding-bottom: 2.5rem;
    font-size: 5rem;
  }

  .top {
    flex-direction: column;

    .left {
      margin: 0 auto;

      .ring-container {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;

        .circle {
          height: 1.5rem;
          width: 1.5rem;
        }

        .ringring {
          height: 3rem;
          width: 3rem;
        }
      }
      h2 {
        padding-top: 0.5rem;
        font-size: 8rem;
      }
    }
  }

  .abouttext {
    h2 {
      margin: 1rem 0;
      font-size: 5rem;
    }

    p {
      padding: 2rem;
      font-size: 2.6rem;

      .and {
        font-size: 3rem;
      }
    }
  }
}
