@font-face {
  font-family: Jellee;
  src: url(assets/Jellee-Bold.woff);
}

@font-face {
  font-family: Snell;
  src: url(assets/SnellBT-Bold.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* disable on touch highlights of html elements, especially on mobile! */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 2vw;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: url(assets/arrow2.png) 10 10, default;
}

body {
  background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
}

h1.preview-title {
  opacity: 0;
  filter: blur(20px);

  transition: all 0.4s ease-in-out;

  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Jellee;

  line-height: 1;
  mix-blend-mode: difference;
}

h1.preview-title.active {
  opacity: 1;
  filter: blur(0);
}

.cursors-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  pointer-events: none;
}

.pointer {
  position: absolute;
  top: 0;
  left: 0;
}

#bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  /* filter: blur(3px); */
}

h1 {
  font-family: Jellee;
  font-size: 5rem;
  margin: 0.1vw;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #ffffff;
}

h2 {
  font-family: Jellee;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #ffffff;
}

h1,
h2 {
  text-align: center;
}

.overlay-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.overlay-header,
.overlay-footer {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  height: 6rem;
  width: 6rem;
  position: relative;
  border-radius: 400px;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #ffffff;
  /* cursor: pointer; */
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
    inset -3px -3px 7px #ffffff;
}

svg > path {
  fill: white;
}

/* ———————— VIDEOS */

.videos-wrapper {
  position: fixed;
  top: 0;
  left: 2rem;
  bottom: 0;
  right: 2rem;
  z-index: -1;
}

.videos-wrapper .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.video-wrapper iframe {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 1rem;
}

.video-wrapper iframe.active {
  display: block;
}

canvas {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  outline: 0;

  pointer-events: none;
}

/* toggle */

.toggle {
    margin:1rem 0 0 0;
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 1.2rem;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
      inset -3px -3px 7px #ffffff;
    display: block;
    transition: all 0.3s;
    border-radius: 3.4rem;
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    display: block;
    left: 0.2rem;
    bottom: 0.1rem;
    background-color: white;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
      inset -3px -3px 7px #ffffff;
    transition: all 0.3s;
}

input:checked + .roundbutton {
    background-color: white;
}

input:checked + .roundbutton:before  {
    transform: translate(2.6rem, 0);
}
